Flask==2.2.3
pillow==9.5.0
pymongo==4.3.3
torch
torchvision
# If your arch is arm64, use delete 'torch' and 'torchvision' and download directly using the command below
# pip install --no-cache-dir -r requirements.txt --index-url https://download.pytorch.org/whl/cpu
